<!DOCTYPE html>
<html>
<body>
	<aside id="menu-sidebar" class="navbar collapse collapse-horizontal flex-column justify-content-start align-items-start bg-white shadow-sm">
		<div class="menu-container p-4">
			<div>
				<span class="fw-bold fs-2">
					<i class="bi bi-coin logo-icon"></i>
					finsys
				</span>
			</div>

			<ul class="navbar-nav mt-4">
				<li class="nav-item">
					<a class="nav-link d-flex gap-2" href="/index.html">
						<i class="bi bi-bar-chart-fill"></i>
						Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link d-flex gap-2" href="/notas-fiscais.html">
						<i class="bi bi-clipboard-data"></i>
						Notas fiscais
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link d-flex gap-2" href="#">
						<i class="bi bi-newspaper"></i>
						Contas
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link d-flex gap-2" href="#">
						<i class="bi bi-people-fill"></i>
						Clientes
					</a>
				</li>
			</ul>
		</div>
	</aside>
</body>
</html>